
@{
    ViewBag.Title = "Index";
}
    <!-- col -->

    <div class="col-lg-12 col-xl-6">
        <div class="card-box">
            <a href="#" class="pull-right btn btn-inverse btn-sm waves-effect waves-light">View All</a>
            <h4 class="text-dark header-title m-t-0">Recent Orders</h4>
            <p class="text-muted m-b-30 font-13">
                Use the button classes on an element.
            </p>

            <div class="table-responsive">
                <table class="table table-actions-bar m-b-0">
                    <thead>
                        <tr>
                            <th>Chart</th>
                            <th>Item Name</th>
                            <th>Up-Down</th>
                            <th style="min-width: 80px;">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span data-plugin="peity-bar" data-colors="#2bbbad,#2bbbad" data-width="80" data-height="30">5,3,9,6,5,9,7,3,5,2</span></td>
                            <td><img src="assets/images/products/iphone.jpg" class="thumb-sm pull-left m-r-10" alt=""> Apple iPhone </td>
                            <td><span class="text-success">+$230</span></td>
                            <td>
                                <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                                <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                            </td>
                        </tr>

                        <tr>
                            <td><span data-plugin="peity-line" data-fill="#33b5e5" data-stroke="#33b5e5" data-width="80" data-height="30">0,3,6,4,5,4,7,3,5,2</span></td>
                            <td><img src="assets/images/products/samsung.jpg" class="thumb-sm pull-left m-r-10" alt=""> Samsung Phone </td>
                            <td><span class="text-danger">-$154</span></td>
                            <td>
                                <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                                <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                            </td>
                        </tr>

                        <tr>
                            <td><span data-plugin="peity-line" data-fill="#fff" data-stroke="#ff3547" data-width="80" data-height="30">5,3,9,6,5,9,7,3,5,2</span>
                            <td><img src="assets/images/products/imac.jpg" class="thumb-sm pull-left m-r-10" alt=""> Apple iPhone </td>
                            <td><span class="text-success">+$1850</span></td>
                            <td>
                                <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                                <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                            </td>
                        </tr>

                        <tr>
                            <td><span data-plugin="peity-pie" data-colors="#4c5667,#ebeff2" data-width="30" data-height="30">1/5</span></td>
                            <td><img src="assets/images/products/macbook.jpg" class="thumb-sm pull-left m-r-10" alt=""> Apple iPhone </td>
                            <td><span class="text-success">+$560</span></td>
                            <td>
                                <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                                <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                            </td>
                        </tr>

                        <tr>
                            <td><span data-plugin="peity-bar" data-colors="#7266ba,#ebeff2" data-width="80" data-height="30">5,3,9,6,5,9,7,3,5,2</span></td>
                            <td><img src="assets/images/products/lumia.jpg" class="thumb-sm pull-left m-r-10" alt=""> Lumia iPhone </td>
                            <td><span class="text-success">+$230</span></td>
                            <td>
                                <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                                <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

