@model IEnumerable<DataWere.Mod>
<div class="card-box table-responsive">
    <h4 class="m-t-0 header-title"><b>Menaxho Furnitorët</b></h4>
    <div class="text-muted font-13 m-b-30">
        <button type="button" class="btn btn-success btn-rounded waves-effect waves-light pull-right" data-url="CreateSupplier" data-form="SaveSupplierForm" data-action="FURNITOR" onclick="CreateElement(this)">
            <span class="btn-label"><i class="fa fa-plus"></i></span>
            Shto furnitor
        </button>
    </div>
    <br />
    <br />
    <br />
    <table id="SuppliersTbl" class="table table-striped table-bordered dataTable no-footer dtr-inline">
        <thead>
            <tr>
                <th>Kompania</th>
                <th>Emri</th>
                <th>Mbiemri</th>
                <th>NIPT</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Veprime</th>
            </tr>
        </thead>
        <tbody>     
        </tbody>
    </table>
</div>
