<div class="card-box table-responsive">
    <h4 class="m-t-0 header-title"><b>Menaxho Njësitë</b></h4>
    <div class="text-muted font-13 m-b-30">
        <button type="button" class="btn btn-success btn-rounded waves-effect waves-light pull-right" data-url="CreateUnit" data-form="SaveUnitForm" data-action="NJËSI" onclick="CreateElement(this)">
            <span class="btn-label"><i class="fa fa-plus"></i></span>
            Shto njësi
        </button>
    </div>
    <br />
    <br />
    <br />
    <table id="UnitsTbl" class="table table-striped table-bordered dataTable no-footer dtr-inline">
        <thead>
            <tr>
                <th>Njësia</th>
                <th>Përshkrimi</th>
                <th>Veprime</th>
            </tr>
        </thead>
        <tbody>          
        </tbody>
    </table>
</div>